.stars-raiting {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;

    input {
        display: none;
    }

    label {
        position: relative;
        display: block;
        width: 35px;
        font-family: FontAwesome;
        font-size: 30px;
        margin-bottom: 0;
        cursor: pointer;

        &:before {
            display: block;
            content: '\f005';
            color: #656262;
        }

        &:after {
            position: absolute;
            display: block;
            content: '\f005';
            color: #F2B72C;
            top: 0;
            opacity: 0;
            transition: .5s;
            text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
        }
    }

    label:hover:after,
    label:hover ~ label:after,
    input:checked ~ label:after {
        opacity: 1;
    }
}