header {

    $brand-color: #DF1797;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            cursor: pointer;

            &.divider {
                width: 1px;
                height: 20px;
                margin: 0 20px;
                border-right: 1px solid #FFF;
            }
        }
    }

    .main {
        background-color: $brand-color;

        .container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding: 5px 0;
            // height: 100px;

            .logo-search-box {
                width: 70%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                .logo {
                    width: 15%;
                    cursor: pointer;
    
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
    
                .search-box {
                    width: 75%;
    
                    .input-group {
                        .input-group-append {
                            .btn-magnifying-glass {
                                &:after {
                                    content: '\1F50D';
                                }
                            }
                        }
                    }
                }
            }

            .login-bag {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                align-items: center;
    
                .login {
                    color: #FFF;
                }
    
                .bag {
                    position: relative;
                    margin-left: 50px;
                    cursor: pointer;

                    img {
                        width: auto;
                        height: 50px;
                    }

                    .items {
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        color: $brand-color;
                        bottom: 7px;
                    }
                }
            }
        }
    }

    nav {
        background-color: #F8F8F8;

        .container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            border-bottom: 1px solid #D7D7D7;

            .divider {
                border-right: 1px solid #999;
            }
    
            .primary {
                font-size: .9rem;
                color: #38383E;
                
                ul li:hover {
                    color: $brand-color; 
                }
            }

            .secondary {
                font-size: .8rem;
                color: #8D8D8D;            
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    header {
        .main {
            .container {
                .logo-search-box {
                    width: 60%;

                    .logo{
                        width: 20%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {

    header {
        .main {
            .container {
                flex-direction: column;

                .logo-search-box {
                    width: 90%;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    .logo {
                        width: 20%;
                    }
                }

                .login-bag{
                    justify-content: center;
                    width: 100%;
                }
            }
        }

        nav {
            .container {
                flex-flow: column nowrap;

                .primary {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        .main {
            .container {
                .logo-search-box{
                    flex-direction: column;

                    .logo {
                        width: 80%;
                        margin-bottom: 20px;
                    }

                    .search-box {
                        width: 100%;
                    }
                }
            }
        }

        nav {
            .container {
                li {
                    font-size: 12px;

                    &.divider {
                        margin: 0 7px;
                    }
                }
            }
        }
    }
}
