header {

    $brand-color: #DF1797;

    ul {
        list-style-type: none;

        li {
            float: left;

            &.divider {
                width: 1px;
                height: 20px;
                margin: 0 20px;
                border-right: 1px solid #FFF;
            }
        }
    }


    .main {
        background-color: $brand-color;

        .container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding: 5px 0;
            // height: 100px;

            .logo {
                width: 10%;

                img {
                    width: 100%;
                    height: auto;
                }
            }
            .search-box {
                width: 50%;

                // input[type=text] {
                //     width: calc(100% - 20px);
                //     font-size: 1.2rem;
                //     color: #38383E;
                //     padding: 5px 10px;
                // }
            }
            .login {
                width: 20%;
                color: #FFF;
            }
            .bag {
                img {
                    width: auto;
                    height: 50px;
                }
            }
        }
    }

    nav {
        background-color: #F6F6F6;

        .divider {
            border-right: 1px solid #D7D7D7;
        }

        .container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            border-bottom: 1px solid #D7D7D7;

            .primary {
                font-size: .9rem;
                color: #38383E;
                
                ul li:hover {
                    color: $brand-color; 
                }
            }

            .secondary {
                font-size: .8rem;
                color: #8D8D8D;            
            }
        }
    }
}