header ul {
  list-style-type: none; }
  header ul li {
    float: left; }
    header ul li.divider {
      width: 1px;
      height: 20px;
      margin: 0 20px;
      border-right: 1px solid #FFF; }

header .main {
  background-color: #DF1797; }
  header .main .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5px 0; }
    header .main .container .logo {
      width: 10%; }
      header .main .container .logo img {
        width: 100%;
        height: auto; }
    header .main .container .search-box {
      width: 50%; }
    header .main .container .login {
      width: 20%;
      color: #FFF; }
    header .main .container .bag img {
      width: auto;
      height: 50px; }

header nav {
  background-color: #F6F6F6; }
  header nav .divider {
    border-right: 1px solid #D7D7D7; }
  header nav .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #D7D7D7; }
    header nav .container .primary {
      font-size: .9rem;
      color: #38383E; }
      header nav .container .primary ul li:hover {
        color: #DF1797; }
    header nav .container .secondary {
      font-size: .8rem;
      color: #8D8D8D; }
