header
    .main
        .container
            .logo
                img(src='../../assets/liverpool.svg')
            .search-box
                input(type='text')
            .login
                ul
                    li Mis pedidos
                    li.divider
                    li Iniciar sesi&oacute;n

            .bag
                img(src='../../assets/bag.jpg')

    nav
        .container
            .primary
                ul
                    li Departamentos
                    li.divider
                    li Mesa de regalos
                    li.divider
                    li Mi cr&eacute;dito
                    li.divider
                    li Seguros
                    li.divider
            .secondary
                ul
                    li Sorteos y Concursos
                    li.divider
                    li Ayuda
                    li.divider
                    li Tiendas
