mixin breadcrumb(path)
    
    link(rel='stylesheet', href='atomic/molecules/breadcrumb/breadcrumb.css')

    .breadcrumb-container
        .container
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    each page, index in path
                        if index < path.length - 1
                            li.breadcrumb-item
                                a(href=page.href)= page.name
                        else
                            // It's the current page
                            li.breadcrumb-item.active(aria-current='page')= page.name
