.product-detail {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px; }
  .product-detail .photogallery {
    width: 50%; }
  .product-detail .info {
    width: 23%; }
  .product-detail .buy {
    width: 23%; }
